<div class="container-fluid" id="container-section">
    <div class="container">
        <div class="card" id="id-card-section">
            <h2 class="custom-text-color-teal">About Me</h2>
            <p>
                I'm Angelo Milan Santos, and I'm a student studying Computer Science. I specialize in making websites look good and designing graphics. I know how to use HTML, CSS, and JavaScript to create websites that are easy to use and visually appealing. I also have experience with Angular and Bootstrap, which helps me make interfaces that people will remember. Besides websites, I also enjoy making logos and designs using Adobe Photoshop. This makes my work look professional and consistent.
            </p>
            <p>
                Although I focus on the front-end part of websites, I also have some knowledge of back-end technologies like PHP, Python Flask, and MySQL. I write code that makes websites interactive and dynamic. I'm always excited to learn new things and keep up with the latest trends in the industry. This allows me to come up with creative and innovative solutions.
            </p>
    
            <!-- Technology Cards -->
            <h3 class="custom-text-color-teal mt-5">Technologies I Use</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                <!-- Front-end Technologies -->
                <div class="col">
                    <h3 class="custom-text-color-teal mb-3">Front-end</h3>
                    <div class="card d-flex align-items-center mb-3 fade-in" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/html-logo.png" class="card-img-top tech-icon me-3" alt="HTML Logo">
                            <h5 class="card-title mb-0">HTML</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3 fade-in" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/css-logo.png" class="card-img-top tech-icon me-3" alt="CSS Logo">
                            <h5 class="card-title mb-0">CSS</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3 fade-in" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/javascript-logo.png" class="card-img-top tech-icon me-3" alt="JavaScript Logo">
                            <h5 class="card-title mb-0">JavaScript</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3 fade-in" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/bootstrap-logo.png" class="card-img-top tech-icon me-3" alt="Bootstrap Logo">
                            <h5 class="card-title mb-0">Bootstrap</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3 fade-in" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/angular-logo.png" class="card-img-top tech-icon me-3" alt="Angular Logo">
                            <h5 class="card-title mb-0">Angular</h5>
                        </div>
                    </div>
                    <!-- Add more front-end technologies as needed -->
                </div>

                <!-- Back-end Technologies -->
                <div class="col">
                    <h3 class="custom-text-color-teal mb-3">Back-end</h3>
                    <div class="card d-flex align-items-center mb-3 fade-in" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/php-logo.png" class="card-img-top tech-icon me-3" alt="PHP Logo">
                            <h5 class="card-title mb-0">PHP</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3 fade-in" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/mysql-logo.png" class="card-img-top tech-icon me-3" alt="MySQL Logo">
                            <h5 class="card-title mb-0">MySQL</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3 fade-in" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/java-logo.png" class="card-img-top tech-icon me-3" alt="Java Logo">
                            <h5 class="card-title mb-0">Java</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3 fade-in" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/python-logo.png" class="card-img-top tech-icon me-3" alt="Python Logo">
                            <h5 class="card-title mb-0">Python</h5>
                        </div>
                    </div>
                    <!-- <div class="card d-flex align-items-center mb-3 fade-in" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/node-logo.png" class="card-img-top tech-icon me-3" alt="Node Logo">
                            <h5 class="card-title mb-0">Node</h5>
                        </div>
                    </div> -->
                    <!-- Add more back-end technologies as needed -->
                </div>

                <!-- Tools -->
                <div class="col">
                    <h3 class="custom-text-color-teal mb-3">Tools</h3>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/vscode-logo.png" class="card-img-top tech-icon me-3" alt="VS Code Logo">
                            <h5 class="card-title mb-0">VSCode</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/photoshop-logo.png" class="card-img-top tech-icon me-3" alt="Photoshop Logo">
                            <h5 class="card-title mb-0">Photoshop</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/xampp-logo.png" class="card-img-top tech-icon me-3" alt="XAMPP Logo">
                            <h5 class="card-title mb-0">XAMPP</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/github-logo.png" class="card-img-top tech-icon me-3" alt="GitHub Logo">
                            <h5 class="card-title mb-0">GitHub</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/gitkraken-logo.png" class="card-img-top tech-icon me-3" alt="GitKraken Logo">
                            <h5 class="card-title mb-0">GitKraken</h5>
                        </div>
                    </div>
                    <!-- Add more tools as needed -->
                </div>
            </div>
        </div>
    </div>
</div>