<div class="container-fluid" id="container-about">
    <div class="container">
        <div class="card" id="id-card-about">
            <h2 class="custom-text-color-teal">About Me</h2>
            <p>
                I'm Angelo Milan Santos, a Computer Science student specializing in front-end web development and graphic design. With a keen eye for aesthetics and a passion for creating visually engaging websites, I bring a unique blend of technical expertise and creativity to my projects.
            </p>
            <p>
                My skills span across HTML, CSS, JavaScript, and I also have experience with the Angular framework and Bootstrap, allowing me to craft user-friendly interfaces that leave a lasting impression. In addition to designing and developing websites, I also enjoy creating logos and visual identities for projects and applications using Adobe Photoshop. This helps me bring a cohesive and professional touch to my work.
            </p>
            <p>
                While my primary focus is on front-end development and design, I also have some familiarity with back-end technologies such as PHP, Python Flask, and MySQL. I strive to write clean and efficient code that powers dynamic websites. Moreover, I am always eager to learn and stay updated with the latest industry trends to deliver innovative solutions.
            </p>
            <p>
                If you're seeking a dedicated and versatile web developer who can bring your ideas to life, I would love to discuss how I can contribute to your next project.
            </p>

            <!-- Technology Cards -->
            <h3 class="custom-text-color-teal mt-5">Technologies I Use</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                <!-- Front-end Technologies -->
                <div class="col">
                    <h3 class="custom-text-color-teal mb-3">Front-end</h3>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/html-logo.png" class="card-img-top tech-icon me-3" alt="HTML Logo">
                            <h5 class="card-title mb-0">HTML</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/css-logo.png" class="card-img-top tech-icon me-3" alt="CSS Logo">
                            <h5 class="card-title mb-0">CSS</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/javascript-logo.png" class="card-img-top tech-icon me-3" alt="JavaScript Logo">
                            <h5 class="card-title mb-0">JavaScript</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/angular-logo.png" class="card-img-top tech-icon me-3" alt="Angular Logo">
                            <h5 class="card-title mb-0">Angular</h5>
                        </div>
                    </div>
                    <!-- Add more front-end technologies as needed -->
                </div>

                <!-- Back-end Technologies -->
                <div class="col">
                    <h3 class="custom-text-color-teal mb-3">Back-end</h3>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/php-logo.png" class="card-img-top tech-icon me-3" alt="PHP Logo">
                            <h5 class="card-title mb-0">PHP</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/mysql-logo.png" class="card-img-top tech-icon me-3" alt="MySQL Logo">
                            <h5 class="card-title mb-0">MySQL</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/java-logo.png" class="card-img-top tech-icon me-3" alt="Java Logo">
                            <h5 class="card-title mb-0">Java</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/python-logo.png" class="card-img-top tech-icon me-3" alt="Python Logo">
                            <h5 class="card-title mb-0">Python</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/node-logo.png" class="card-img-top tech-icon me-3" alt="Node Logo">
                            <h5 class="card-title mb-0">Node</h5>
                        </div>
                    </div>
                    <!-- Add more back-end technologies as needed -->
                </div>

                <!-- Tools -->
                <div class="col">
                    <h3 class="custom-text-color-teal mb-3">Tools</h3>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/vscode-logo.png" class="card-img-top tech-icon me-3" alt="VS Code Logo">
                            <h5 class="card-title mb-0">VSCode</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/photoshop-logo.png" class="card-img-top tech-icon me-3" alt="Photoshop Logo">
                            <h5 class="card-title mb-0">Photoshop</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/github-logo.png" class="card-img-top tech-icon me-3" alt="GitHub Logo">
                            <h5 class="card-title mb-0">GitHub</h5>
                        </div>
                    </div>
                    <div class="card d-flex align-items-center mb-3" id="id-card-tech">
                        <div class="card-body d-flex align-items-center">
                            <img src="assets/tech-logo/gitkraken-logo.png" class="card-img-top tech-icon me-3" alt="GitKraken Logo">
                            <h5 class="card-title mb-0">GitKraken</h5>
                        </div>
                    </div>
                    <!-- Add more tools as needed -->
                </div>
            </div>
        </div>
    </div>
</div>