<div class="container-fluid" id="container-section">
    <div class="container">
      <h2 class="custom-text-color-teal">Projects</h2>
      <div class="row">
        <!-- Project Card -->
        <div class="col-md-6">
          <div class="card mb-3 d-flex justify-content-center" id="id-card-tech">
            <div class="zoom-effect">
              <div class="zoom-inner">
                <img src="assets/project-img/portfolio-project.png" class="card-img-top" alt="Project Image">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title custom-text-color-teal">Angelo Milan's Portfolio</h5>
              <p class="card-text">This website showcases my portfolio, highlighting my skills and projects.</p>
              <p>
                <span class="badge bg-secondary m-1">HTML</span> 
                <span class="badge bg-secondary m-1">CSS</span> 
                <span class="badge bg-secondary m-1">JavaScript</span>
                <span class="badge bg-secondary m-1">Bootstrap</span>
                <span class="badge bg-secondary m-1">Angular</span>
                <span class="badge bg-secondary m-1">Node</span>
              </p>
            </div>
            <div class="card-footer text-end p-3">
              <a href="project-website-url" target="_blank" class="custom-button">
                <i class="fas fa-external-link-alt"></i> Visit Project Website
              </a>
            </div>
          </div>
        </div>
        <!-- Project Card End -->
  
        <!-- Add another card here for the second column -->
        <!-- Project Card -->
        <div class="col-md-6">
            <div class="card mb-3 d-flex justify-content-center" id="id-card-tech">
              <div class="zoom-effect">
                <div class="zoom-inner">
                  <img src="assets/project-img/ucc-project.png" class="card-img-top" alt="Project Image">
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title custom-text-color-teal">UCC Website</h5>
                <p class="card-text">Website of University of Caloocan City, developed as a thesis project.</p>
                <p>
                  <span class="badge bg-secondary m-1">HTML</span> 
                  <span class="badge bg-secondary m-1">CSS</span> 
                  <span class="badge bg-secondary m-1">JavaScript</span>
                  <span class="badge bg-secondary m-1">Bootstrap</span>
                  <span class="badge bg-secondary m-1">Python Flask</span>
                  <span class="badge bg-secondary m-1">MySQL</span>
                </p>
              </div>
              <div class="card-footer text-end p-3">
                <a href="https://angelosantos.pythonanywhere.com/" target="_blank" class="custom-button">
                  <i class="fas fa-external-link-alt"></i> Visit Project Website
                </a>
              </div>
            </div>
          </div>
          <!-- Project Card End -->
          <!-- Project Card -->
            <div class="col-md-6">
                <div class="card mb-3 d-flex justify-content-center" id="id-card-tech">
                <div class="zoom-effect">
                    <div class="zoom-inner">
                    <img src="assets/project-img/guessnumber-project.png" class="card-img-top" alt="Project Image">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title custom-text-color-teal">Guess the Number 1-50</h5>
                    <p class="card-text">This website is a guessing game from 1-50</p>
                    <p>
                    <span class="badge bg-secondary m-1">HTML</span> 
                    <span class="badge bg-secondary m-1">CSS</span> 
                    <span class="badge bg-secondary m-1">JavaScript</span>
                    <span class="badge bg-secondary m-1">Bootstrap</span>
                    </p>
                </div>
                <div class="card-footer text-end p-3">
                    <a href="https://gelo000.github.io/Guess-the-Number/" target="_blank" class="custom-button">
                    <i class="fas fa-external-link-alt"></i> Visit Project Website
                    </a>
                </div>
                </div>
            </div>
            <!-- Project Card End -->
            <!-- Project Card -->
            <div class="col-md-6">
                <div class="card mb-3 d-flex justify-content-center" id="id-card-tech">
                <div class="zoom-effect">
                    <div class="zoom-inner">
                    <img src="assets/project-img/calculator-project.png" class="card-img-top" alt="Project Image">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title custom-text-color-teal">Simple GUI Calculator</h5>
                    <p class="card-text">This website is a simple calculator with graphical user interface.</p>
                    <p>
                    <span class="badge bg-secondary m-1">HTML</span> 
                    <span class="badge bg-secondary m-1">CSS</span> 
                    <span class="badge bg-secondary m-1">JavaScript</span>
                    <span class="badge bg-secondary m-1">Bootstrap</span>
                    </p>
                </div>
                <div class="card-footer text-end p-3">
                    <a href="https://gelo000.github.io/Sample-GUI-Calculator-by-Angelo-Milan/" target="_blank" class="custom-button">
                    <i class="fas fa-external-link-alt"></i> Visit Project Website
                    </a>
                </div>
                </div>
            </div>
            <!-- Project Card End -->
            <!-- Project Card -->
            <div class="col-md-6">
                <div class="card mb-3 d-flex justify-content-center" id="id-card-tech">
                <div class="zoom-effect">
                    <div class="zoom-inner">
                    <img src="assets/project-img/parkour-project.png" class="card-img-top" alt="Project Image">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title custom-text-color-teal">Parkour Game (Rooftop Master 2077)</h5>
                    <p class="card-text">This website is a parkour game using sprite images.</p>
                    <p>
                    <span class="badge bg-secondary m-1">HTML</span> 
                    <span class="badge bg-secondary m-1">CSS</span> 
                    <span class="badge bg-secondary m-1">JavaScript</span>
                    </p>
                </div>
                <div class="card-footer text-end p-3">
                    <a href="https://gelo000.github.io/Rooftop-Master2077/" target="_blank" class="custom-button">
                    <i class="fas fa-external-link-alt"></i> Visit Project Website
                    </a>
                </div>
                </div>
            </div>
            <!-- Project Card End -->
      </div>
    </div>
  </div>
  