<div class="container-fluid" id="container-section">
  <div class="container">
    <h2 class="custom-text-color-teal">Contact</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="container mt-3 mb-5">
          <span class="custom-text-color-white-bold custom-description-larger-text">Connect with me and get in touch </span>
          <span class="custom-text-color-grey custom-description-larger-text">through various channels including Facebook, Gmail, LinkedIn, and GitHub.</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="connect-container">
          <h4 class="custom-text-color-teal">Connect With Me</h4>
          <ul class="list-unstyled d-flex">
            <li class="custom-text-color-grey custom-description-larger-text m-3">
              <a href="https://www.facebook.com/angelomilan29" target="_blank">
                <i class="fab fa-facebook-square fa-2x"></i>
              </a>
            </li>
            <li class="custom-text-color-grey custom-description-larger-text m-3">
              <a href="mailto:angelomilansantos29@gmail.com">
                <i class="fas fa-envelope fa-2x"></i>
              </a>
            </li>
            <li class="custom-text-color-grey custom-description-larger-text m-3">
              <a href="https://www.linkedin.com/in/angelo-milan-santos-07a2a226a" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </li>
            <li class="custom-text-color-grey custom-description-larger-text m-3">
              <a href="https://github.com/Gelo000" target="_blank">
                <i class="fab fa-github fa-2x" id></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
