<app-navbar></app-navbar>

<div id="home" style="padding-top: 60px;">
  <app-home></app-home>
</div>

<div id="about" class="custom-padding-top-60 fade-in-opposite">
  <app-about></app-about>
</div>

<div id="projects" class="custom-padding-top-60 fade-in">
  <app-projects></app-projects>
</div>

<div id="contact" class="custom-padding-top-60 fade-in-opposite">
  <app-contact></app-contact>
</div>

<div class="fade-in-scroll-button">
  <button class="scroll-top-btn" (click)="scrollToTop()">
    <i class="fas fa-chevron-up"></i>
  </button>
</div>

<footer class="footer navbar-light custom-footer">
  <div class="container text-center">
    <span>&copy; 2023 Angelo Milan Santos. All rights reserved.</span>
  </div>
</footer>
