/* You can add global styles to this file, and also import other style files */
.navbar {
    background-color: rgb(65, 65, 65);
}
  
.footer{
    background-color: rgb(65, 65, 65);
    color: rgb(0, 255, 213);
}

.custom-footer {
    height: 56px; /* Adjust the height to match your navbar */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 255, 213);
}