/* You can add global styles to this file, and also import other style files */

@import '@fortawesome/fontawesome-free/css/all.min.css';

/* width */
html {
    background-color: rgb(65, 65, 65);
    overflow-x: hidden;
}
  
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(37, 37, 37); 
    background-color: rgb(77, 77, 77);
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 213);
    box-shadow: inset 0 0 5px grey; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 141, 118);
}
  
.footer {
    background-color: rgb(65, 65, 65);
    color: rgb(0, 255, 213);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}
  

.custom-footer {
    height: 56px; /* Adjust the height to match your navbar */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.custom-padding-top-120{
    padding-top: 120px;
}  

.custom-text-color-teal{
    color: rgb(0, 255, 213);
}

.custom-text-color-white{
    color: rgb(255, 255, 255);
}

.custom-description-larger-text {
    font-size: calc(1rem + ((1vw - 7.68px) * 1.2));
    line-height: 1;
}

.custom-text-color-grey{
    color: rgb(192, 192, 192);
}

.custom-text-color-white-bold{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.custom-welcome-text {
    background-color: rgb(65, 65, 65);
    color: rgb(0, 255, 213);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: calc(1rem + ((1vw - 7.68px) * 5.555555555555555));
}

.custom-russo-one-text {
    font-family: 'Russo One', sans-serif;
    font-size: calc(3rem + ((1vw - 7.68px) * 5.555555555555555));
}

.custom-button {
    color: rgb(0, 255, 213);
    background-color: rgb(59, 59, 59);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 0 0.2rem rgba(24, 24, 24, 0.25);
    transition: background-color 0.3s ease;
}
  
.custom-button:hover {
    background-color: rgb(0, 150, 125);
    color: rgb(0, 0, 0);
}
  
.custom-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-navbar {
    border-radius: 1rem; /* Adjust the border-radius value to make the navbar more or less oval */
    overflow: hidden;
    background-color: #3f4847;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#navbar-container-id{
    margin-left: 1rem;
    margin-right: 1rem;
}
  
.custom-nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.navbar-toggler {
    border: none;
    box-shadow: none;
    outline: none;
  }
  
.navbar-toggler:focus,
.navbar-toggler:active {
    border: none;
    color: transparent;
    outline: none;
}
  

/* FOR NAVBAR TOGGLE open/close */
@keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}
  
@keyframes slideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
}
  
.show {
    display: block !important;
}
  
.collapse {
    display: none;
}
  
/* FOR NAVBAR TOGGLE open/close */
  

.cursor {
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
.navbar {
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 255, 213);
    margin-right: 50px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}
  
.navbar-light .navbar-nav .nav-link.active {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#id-card-home{
    background-color: #3f4847;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin-top: -10%;
}

#id-card-image{
    background-color: #292e2e00;
    border-radius: 25%;
    transform: rotate(8deg) scale(70%);
}
.card-img-top-box{
    transform: rotate(-8deg);
    background-color: #808080;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25%;
}

#id-card-section{
    background-color: transparent;
    border: 0px;
    padding: 3rem;
    margin: 0 auto;
}

#id-card-tech{
    background-color: #0b7e715b;
}

.tech-icon {
    width: 100%;
    max-width: 48px;
    height: 48px;
    max-height: 38px;
}

#container-section {
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    line-height: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #3f4847;
}

.fade-in-scroll-button {
    opacity: 0;
    transition: opacity 1s ease;
  }
  
.fade-in-scroll-button.visible {
    opacity: 1;
    pointer-events: default;
}

/* .fade-in {
    opacity: 0;
    transition: opacity 3s ease;
  }
  
.fade-in.visible {
    opacity: 1;
} */

.fade-in {
    opacity: 0;
}

.fade-in.visible {
    opacity: 0;
    animation: fadeInRight 0.5s ease-in-out forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .fade-in-opposite{
    opacity: 0;
  }
  
  .fade-in-opposite.visible {
    opacity: 0;
    animation: fadeInLeft 1s ease-in-out forwards;
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  } */
  

.container-home-center{
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* background-color: #049c8b2a; */
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    padding-top: 5em;
}

.main-container {
    position: relative;
    z-index: 2;
}

.zoom-effect {
    overflow: hidden;
    position: relative;
    padding: 30px;
  }
  
.zoom-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.zoom-inner .custom-button {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.zoom-inner:hover .custom-button {
    position: absolute;
    opacity: 1;
}

.zoom-inner img {
    filter: brightness(1);
    transition: 0.5s ease-in-out;
}

.zoom-inner:hover img {
    filter: brightness(0.5);
    box-shadow: 0 0 10px rgb(255, 255, 255);

}
  
.zoom-effect:hover .zoom-inner {
    transform: scale(1.05);
}
  
.zoom-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
  
  
.zoom-effect:hover .zoom-inner {
    transform: scale(1.05);
}
  
.zoom-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 255, 191, 0.2);
    color: rgb(0, 255, 213);
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 9999;
}
  
.scroll-top-btn:hover {
    background-color: #555;
}

#ams-logo-id{
    height: 5rem;
    width: 5rem;
    padding: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    transition: 0.5s;
}
#ams-logo-id:hover{
    border: 1px solid rgba(0, 255, 213, 0.301);
}

.frosted-div {
    background-color: #049c8b2a !important;
    backdrop-filter: blur(2px) !important;
    -webkit-backdrop-filter: blur(2px); /* Safari 9+, Safari on iOS 9+ */
    -ms-backdrop-filter: blur(2px); /* Microsoft Edge */
}

#background-canvas{
    position: fixed;
    top: 0%;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    filter: blur(200px);
    mix-blend-mode: darken;
    opacity: 30%;
}

.custom-bg-darkgray {
    background-image: 
        linear-gradient(to right, rgba(0, 150, 125, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 150, 125, 0.5) 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: rgb(65, 65, 65);
    color: white;
    background-attachment: fixed;
    animation: downrightanimation 150s infinite linear;
}

@keyframes downrightanimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}
.fa-2x{
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
}
.fa-2x:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    color: #00FED4;
}
  