<div class="container mt-5">

    <!-- Add Profile Image here -->
    <div class="card w-100" id="id-card-home">
        <div class="row g-0">
            <div class="col-md-4" id="id-card-image">
                <img src="assets/angelo-santos.png" class="card-img-top img-fluid" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <!-- Home -->
                    <h1 class="custom-text-color-teal">Hey there!, I'm-</h1>
                    <h3 class="custom-russo-one-text">Angelo Milan Santos</h3>
                    <span class="custom-text-color-white-bold custom-description-larger-text">A Computer Science Student.</span>
                    <span class="custom-text-color-grey custom-description-larger-text"> A Passionate Web Developer and Studying About Front-End Web Development To Become a Front-End Developer</span>
                    <br>
                
                    <div class="container mt-3">
                        <!-- Download Button for CV-->
                        <div class="float-end">
                        <a href="/assets/Angelo-Milan-Santos-CV.pdf" download class="custom-button">
                            <i class="fas fa-download"></i> Download CV
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
